<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
  <strong>Surname:</strong>
  <%= @employee.surname %>
  <strong>login:</strong>
  <%= @employee.login %>
  <strong>password:</strong>
  <%= @employee.password %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
